html{
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
@mixin title__wrapp{
    margin: 17px auto 54px auto;
    max-width: 1720px;
    padding: 0 10px;
}
@mixin title{
    color: #474747;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin: 0;
}
@mixin descriptor{
    color: #A0A0A0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px; 
    margin: 0 0 0 4px;
}
@mixin content__width{
    max-width: 1816px;
    width: 100%;
    margin: 0 auto;
}
@mixin text_title_styles{
    color: #537AF7;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
@mixin text_text_styles{
    color: #323232;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.title__wrapp{
    @include title__wrapp;
    .title{
        @include title;
    }
    .title__descriptor{
        max-width: 859px;
        @include descriptor;
    }
}
.recruit__wrapp{
    position: relative;
}
.content__wrapp{
    @include content__width;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 0 10px;
    box-sizing: border-box;
}
.content__wrapp .wrapper:nth-child(odd){
    margin-top: 135px;
}
.img__overlay{
    position: absolute;
    left: 111px;
    right: 0;
    top: 119px;
    z-index: 1;
    max-width: 1071px;
}
.wrapp__img{
    max-width: 260px;
    max-height: 235px;
    position: relative;
    z-index: 2;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.wrapp__content{
    max-width: 235px;
    position: relative;
    margin: 0 0 0 auto;
    padding: 0 0 0 10px;
}
.content__title{
    @include text_title_styles;
    border-bottom: 2px solid #367AFF;
    display: inline-block;
    margin: 0;
    padding: 0 0 13px 0;
}
.content__text{
    @include text_text_styles;
}
.hr__title{
    display: block;
    max-width: 113px;
}
.office{
    border: 0;
    position: relative;
}
.office::before{
    content: "";
    position: absolute;
    width: 113px;
    height: 2px;
    background: #367AFF;
    bottom: 0;
}
.work{
    border: 0;
    position: relative;
}
.work::before{
    content: "";
    position: absolute;
    width: 113px;
    height: 2px;
    background: #367AFF;
    bottom: 0; 
}

.wrapp__link-hr{
    display: flex;
    align-items: center;
    margin: 0 0 0 3px;
    .link__staff{
        color: #537AF7;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
        text-decoration: none;
    }
    .hr{
        margin: 0 0 0 20px;
    }
}
.wrapp__work-link{
    max-width: 214px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    .link__work{
        color: #537AF7;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
        text-decoration: none;
        display: inline-block;
        width: 100%;
    }
    .hr__work-img{
        display: inline-block;
    }
}
.mega__logo-wrapp{
    display: flex;
    justify-content: flex-end;
}
.mega__logo{
    margin: 0 70px 0 0;
    .mega__img{
        max-width: 284px;
        height: auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .logo__wrapp{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .mega__text{
        color: #323232;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
    }
}

.gr_second{
    color: #E2D136;
    border-bottom: 2px solid #E2D136;
}
.gr__office-before::before{
    background: #E2D136;
    border: 0;
}
.gr__office-before{
    border: 0;
}
.hr__group-second{
    margin: 0px 0 0 15px;
    padding: 0 0 0 10px; 
    .link__group-second{
        color: #E2D136;
    }
}
.gr_second-title{
    max-width: inherit;
    display: inline-block;
}
.overlay__g-second{
    position: absolute;
    left: 157px;
    right: 0;
    top: 130px;
    z-index: 1;
    max-width: inherit; 
}
.content__wrapp{
    .wrapper__gr-second:nth-child(even){
        margin-top: inherit;
    }
    .wrapper__gr-second:nth-child(odd){
        margin-top: 135px;
    }
}
.content__wrapp-second{
    max-width: 1570px; 
}
.gr__third{
    color: #8A8A8A;
    border-bottom: 2px solid #646464;
}
.attention{
    color: #FF4F4F;
}
.wrapp__work-link{
    align-items: flex-start;
    .fired__link{
        color: #8A8A8A;
    }
}
.content__ul{
    color: #323232;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 0 0 17px;
}
.overlay__gr-four{
    position: absolute;
    left: 587px;
    right: 0;
    top: 119px;
    z-index: 1;
    max-width: inherit;
}
.content__wrapp-four{
    justify-content: center;
}
.content__wrapp .wrapper__four:nth-child(even){
    margin-top: inherit;
    margin: 0 33px;
}
.content__wrapp .wrapper__four:nth-child(odd){
    margin-top: 135px;
}
.wrapp__work-link{
    .link__transfer{
        color: #23BA46;
    }
}
.gr__transfer{
    color: #23BA46;
    border-bottom: 2px solid #23BA46; 
}
.swipe__menu{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;
    transition: 0.8s;
    border-radius: 0px 0px 0px 30px;
    border-bottom: 10px solid #537AF7;
    border-left: 10px solid #537AF7;
    padding: 8px 17px;
    background: #fff;
}
.bounce{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}
.swipe__wrapper{
    color: #323232;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    cursor: pointer;
}
.add{
    background: #537AF7;
}
.lim{
    background: #E2D136;
}
.del{
    background: #8A8A8A;
}
.next{
    background: #23BA46;
}

.arrow__up{
    cursor: pointer;
    position: fixed;
    right: 5px;
    bottom: 50px;
    background: rgba(44, 44, 44, 0.4);
    border-radius: 2px;
    transition: 0.8s;
    transform: translateY(100vh);
    z-index: 3;
}


@media (max-width: 1600px) {
    .img__overlay{
        display: none;
    }
    .overlay__g-second{
        display: none;
    }
    .overlay__gr-four{
        display: none;
    }
}
@media (max-width: 1280px){
    .content__wrapp{
        flex-wrap: wrap;
        justify-content: center;
        .wrapper{
            margin-top: 0 !important;
        }
    }
}
@media (max-width: 991px) {
    .add__wrapp{
        margin-top: 115px; 
    }
    .title{
        font-size: 30px !important;
    }
}

/*##### WELCOM TO MY WORLD #####*/